.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
        background-color: white;
        display: inline-block;
        padding: 1em;
        margin: 1em;
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
        border: 0;
        color: $color-gray;
        transition: all 0.1s ease-out;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 300px;
        border-top: 0.5em solid $color-primary;

        a {
            color: $color-gray;
            text-decoration: none;
        }

        .date {
            color: $color-gray;
            opacity: 0.5;
            font-size: 70%;
            margin: 1em;
        }

        .tag {
            font-size: 70%;
            font-weight: bold;
            color: white;
            background-color: $color-primary;
            padding: 0.3em;
            border-radius: 0.3em;
        }

        img {
            width: 250px;
            border-radius: 1px;
        }

        p {
            padding: 0.2em;
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 3.5em rgba(0, 0, 0, 0.2);
        }
    }
}
