body > nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: absolute;
    width: 100%;
    color: $fg;
    z-index: 11;

    a {
        color: $fg;
        text-decoration: none;
    }

    header {
        perspective: 1000px;
        position: relative;
        width: 30em;
        max-width: 30vw;

        &:hover {
            #header-coinprice {
                opacity: 0;
            }

            #header-coinprice-cover {
                transform: none;
            }
        }
    }

    header span {
        display: block;
        transition: all 0.2s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.1em 0.4em;
    }

    #header-coinprice-cover {
        transform: rotateX(90deg) translateY(2em);

        &:hover {
            color: $highlight;
            background-color: white;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        
        a {
            display: inline-block;
            padding: 0.1em;
            margin: 0 1em;
            transition: all 0.1s ease-in-out;

            &.active {
                border-bottom: 2px solid $secondary;
            }

            &:hover {
                color: white;
                border-bottom: 3px solid white;
            }
        }
    }
}
