{{ partial "header.html" . }}
<section>
    <h1>{{.Title}}</h1>
    {{.Content}}
</section>
<section>
    <div class="cards">
        {{ range .Pages.ByPublishDate.Reverse }}
            <div class="card">
                <a href="{{.Permalink}}">
                    {{ if (isset .Params "image") }}
                    <img src="{{.Params.image}}" />
                    {{ end }}
                    <p>{{.Title}}
                        <span class="date">{{.PublishDate.Format "2006-01-02"}}</span>
                        {{ range .Param "tags" }}
                            <span class="tag">{{ . }}</span>
                        {{ end }}
                    </p>
                </a>
            </div>
        {{ end }}
    </div>
</section>

{{ partial "footer.html" . }}
