        </main>
        <footer>
            <section>
                <header>Connect with Minnesota Cryptocurrency!</header>
                <p>
                    Receive club updates and the esteemed "Coin-of-the-week" emails!
                    <a href="https://www.subscribepage.com/mncryptocurrency" class="button">Sign up</a>
                </p>
                <p>
                    Chat with the club and board on Discord!
                    <a href="https://discordapp.com/invite/XwvMWBt" class="button discord">Join</a>
                </p>
            </section>
            <section>
                <header>Donate</header>
                <p>XMR: <span class="addr">493DiyXj6qZZ7pqjaRudQEMXKgG9KumZg3HLBPgziW3fD6GHvnV9ZAPdGYCb394M2ZAhzaQsvBAA3b3h8r2gAaa59Lha8QV</span></p>
            </section>
            <section>
                <p>
                    This club does not offer legal, financial, or investment advice. Any names, brands, copyrighted material, etc. appearing on this site or at our meetings does not necessarily imply ownership of or endorsement from the owners of those names, brands, etc. unless explicitly stated as such.
                </p>
                <p>
                    Cryptocurrency prices from <a href="https://cryptocompare.com/" target="_blank">cryptocompare.com</a>.
                </p>
            </section>
            <section>
                <p>
                    Website design &copy; copyright Jacob Lindahl 2019
                </p>
            </section>
        </footer>
        <script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
