        </main>
        <footer>
            <section>
                <header>Get our Newsletter!</header>
                <p>
                    Receive club updates and the esteemed "Coin-of-the-week" emails!
                    <a href="https://www.subscribepage.com/cryptoumn" class="button">Sign up</a>
                </p>
            </section>
            <section>
                <header>Join our Discord!</header>
                <p>
                    Chat with the club and board!
                    <a href="https://discordapp.com/invite/XwvMWBt" class="button discord">Join</a>
                </p>
            </section>
            <section>
                <p>
                    This club does not offer legal, financial, or investment advice. Any names, brands, copyrighted material, etc. appearing on this site or at our meetings does not necessarily imply endorsement from the owners of those names, brands, etc.
                </p>
                <p>
                    Cryptocurrency prices from <a href="https://cryptocompare.com/" target="_blank">cryptocompare.com</a>.
                </p>
            </section>
            <section>
                <p>
                    Website design &copy; copyright Jacob Lindahl 2018
                </p>
            </section>
        </footer>
        <script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
