{{ partial "header.html" . }}
<section class="fancy-intro dark">
    <h1>Minnesota Cryptocurrency</h1>
    <p class="fade-in">Advancing cryptocurrency education in the Twin Cities</p>
</section>
<section>
    <h2>Mission</h2>
    <p>
        Minnesota Cryptocurrency has a mission of informing the students at the University of Minnesota and the wider Twin Cities community of news, developments, and advice regarding cryptocurrencies and applications of blockchain technology. Minnesota Cryptocurrency will first and foremost educate in these new technologies, advocate for their use and adoption, and support students and community members in a large, welcoming, knowledgeable community.
    </p>
</section>
<section class="dark" id="events">
    <h2>Events</h2>
    <iframe src="https://calendar.google.com/calendar/embed?src=crypto%40umn.edu&ctz=America%2FChicago" style="border: 0; width: 100%; height: 45vw;"
        frameborder="0" scrolling="no"></iframe>
    <p>Do you want to present at a Minnesota Cryptocurrency event? <a href="https://forms.gle/JLbCbeK318TagzkH6">Apply here</a>.</p>
</section>
{{ partial "footer.html" . }}
