{{ partial "header.html" . }}
<section class="fancy-intro">
    <h1>Minnesota Cryptocurrency</h1>
    <p class="fade-in">Advancing cryptocurrency education in the Twin Cities</p>
</section>
<h2 class="right"><span>Mission</span></h2>
<section>
    <p>
        Minnesota Cryptocurrency has a mission of informing the students at the University of Minnesota and the wider Twin Cities community of news, developments, and advice regarding cryptocurrencies and applications of blockchain technology. Minnesota Cryptocurrency will first and foremost educate in these new technologies, advocate for their use and adoption, and support students and community members in a large, welcoming, knowledgeable community.
    </p>
</section>
<section>
    <h2><span>Events</span></h2>
    <div class="cards">
        {{ with .Site.GetPage "section" "club-event" }}
            {{ range first 3 .Pages.ByPublishDate.Reverse }}
                {{ partial "card.html" . }}
            {{ end }}
        {{ end }}
    </div>
</section>
<!-- <section>
    <h2><span>Board</span></h2>
    <div class="caricatures">
        <div class="caricature">
            <img src="http://via.placeholder.com/180x180">
            <div>
                <h3>Board Member</h3>
                <p>
                    Tempor sit nostrud consequat nostrud anim aute ut dolor voluptate mollit elit aute sint officia.
                </p>
            </div>
        </div>
        <div class="caricature">
            <img src="http://via.placeholder.com/180x180">
            <div>
                <h3>Board Member</h3>
                <p>
                    Tempor sit nostrud consequat nostrud anim aute ut dolor voluptate mollit elit aute sint officia.
                </p>
            </div>
        </div>
        <div class="caricature">
            <img src="http://via.placeholder.com/180x180">
            <div>
                <h3>Board Member</h3>
                <p>
                    Tempor sit nostrud consequat nostrud anim aute ut dolor voluptate mollit elit aute sint officia.
                </p>
            </div>
        </div>
        <div class="caricature">
            <img src="http://via.placeholder.com/180x180">
            <div>
                <h3>Board Member</h3>
                <p>
                    Tempor sit nostrud consequat nostrud anim aute ut dolor voluptate mollit elit aute sint officia.
                </p>
            </div>
        </div>
    </div>
</section> -->
{{ partial "footer.html" . }}
